<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name-English</key>
		<string>Note</string>
		<key>name-Chinese</key>
		<string>音符</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Keys</string>
		<key>name-Chinese</key>
		<string>按键</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Popcorn</string>
		<key>name-Chinese</key>
		<string>爆米花</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Hello</string>
		<key>name-Chinese</key>
		<string>哈喽</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Synth</string>
		<key>name-Chinese</key>
		<string>合成</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Chord</string>
		<key>name-Chinese</key>
		<string>和弦</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Aurora</string>
		<key>name-Chinese</key>
		<string>激光</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Pulse</string>
		<key>name-Chinese</key>
		<string>脉冲</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Input</string>
		<key>name-Chinese</key>
		<string>输入</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Complete</string>
		<key>name-Chinese</key>
		<string>完成</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Circles</string>
		<key>name-Chinese</key>
		<string>圆圈</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Bamboo</string>
		<key>name-Chinese</key>
		<string>竹子</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Bloom</string>
		<key>name-Chinese</key>
		<string>百花怒放</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>sms-received3</string>
		<key>name-Chinese</key>
		<string>玻璃声</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>sms-received6</string>
		<key>name-Chinese</key>
		<string>电子音乐</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>sms-received2</string>
		<key>name-Chinese</key>
		<string>风铃</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Update</string>
		<key>name-Chinese</key>
		<string>更新</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Choo_Choo</string>
		<key>name-Chinese</key>
		<string>火车鸣笛</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Calypso</string>
		<key>name-Chinese</key>
		<string>即兴曲调</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Descent</string>
		<key>name-Chinese</key>
		<string>渐弱</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Ladder</string>
		<key>name-Chinese</key>
		<string>连音效果</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Fanfare</string>
		<key>name-Chinese</key>
		<string>嘹亮吹奏声</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>sms-received5</string>
		<key>name-Chinese</key>
		<string>铃声</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Sherwood_Forest</string>
		<key>name-Chinese</key>
		<string>绿林好汉的旋律</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Tiptoes</string>
		<key>name-Chinese</key>
		<string>蹑手蹑脚</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Telegraph</string>
		<key>name-Chinese</key>
		<string>敲打电报</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Typewriters</string>
		<key>name-Chinese</key>
		<string>敲打字机</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>sms-received1</string>
		<key>name-Chinese</key>
		<string>三全音</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Spell</string>
		<key>name-Chinese</key>
		<string>神奇魔咒</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Anticipate</string>
		<key>name-Chinese</key>
		<string>悉心期盼</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Minute</string>
		<key>name-Chinese</key>
		<string>小步舞曲</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>News_Flash</string>
		<key>name-Chinese</key>
		<string>新闻快讯</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Noir</string>
		<key>name-Chinese</key>
		<string>夜色</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>sms-received5</string>
		<key>name-Chinese</key>
		<string>圆号</string>
	</dict>
	<dict>
		<key>name-English</key>
		<string>Suspense</string>
		<key>name-Chinese</key>
		<string>侦探悬念</string>
	</dict>
</array>
</plist>
